@model ChatAppWinterSchool.LoginCredentials
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h2>Log in</h2>
</div>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
        <table align="center">
            <tr>

                <td align="right">@Html.LabelFor(model => model.NickName, "Username:")</td>
                <td>@Html.TextBoxFor(model => model.NickName)</td>
                <td>@Html.ValidationMessageFor(model => model.NickName)</td>

            </tr>
            <tr><td></td></tr>
            <tr>

                <td align="right">@Html.LabelFor(model => model.Password, "Password:")</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>

            </tr>
            <tr><td></td></tr>
            <tr>
                <td></td>
               
                <td align="center"><input type="submit" value="Log in" /></td>
               
                <td></td>
            </tr>


        </table>

}